# Secrets
*api.key

# VS Code configuration
.vscode

# MacOS
*.DS_Store

# NodeJS dependencies cache
node_modules

# Python cache
*__pycache__

# Miscellaneous
package-lock.json

# This folder holds work in progress information, scripts and data
.@Laurent
